html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  color: red;
  background-color: black;
  direction: rtl;
}

.Box {
  text-align: center;
  border: 1px dashed red;
  padding: 5px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  width: 20%;
}
